<script>
  import hljs from "highlight.js/lib/core";
  import "highlight.js/styles/base16/monokai.css";
  import haml from "highlight.js/lib/languages/haml";
  import javascript from "highlight.js/lib/languages/javascript";
  import haskell from "highlight.js/lib/languages/haskell";
  import { HAML_WITH_RUBY, PLAIN_HAML, JS, HASKELL } from "./mock_data";

  hljs.registerLanguage("haml", haml);
  hljs.registerLanguage("javascript", javascript);
  hljs.registerLanguage("haskell", haskell);

  export default {
    data() {
      return {
        hamlWithRuby: HAML_WITH_RUBY,
        plainHaml: PLAIN_HAML,
        jsMock: JS,
        haskellMock: HASKELL,
      };
    },
    mounted() {
      hljs.highlightAll();
    },
  };
</script>

<template>
  <div class="container">
    <p>Some samples of code highlighted with Highlight.js</p>
    <a href="https://gitlab.com/jerasmus/hljs-vanilla">Source Code</a>

    <pre><code class="language-haml">{{hamlWithRuby}}</code></pre>

    <pre><code class="language-haml">{{plainHaml}}</code></pre>

    <pre><code class="language-javascript">{{jsMock}}</code></pre>

    <pre><code class="language-haskell">{{haskellMock}}</code></pre>
  </div>
</template>

<style scoped>
  .container {
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
</style>
